////*------------------------------------*\
///  BASE
///\*------------------------------------*/

html {
  @include main-font;
  line-height: $base-line-height;
  color: $main-color;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  background-color: $background-color;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
