$base-font-size: 17px;
$base-line-height: 20px;
$base-spacing: $base-line-height;

@mixin main-font($color: '') {
  font-family: Helvetica, Arial, sans-serif;
  // font-style: normal;
  // font-weight: 500;
  @if $color != '' {
    color: $color;
  }
}

@mixin sec-font($color: '') {
  font-family: Georgia, serif;
  // font-style: normal;
  // font-weight: 500;
  @if $color != '' {
    color: $color;
  }
}
